<%- include('../partials/header') %>
<h1>Ingredients Page!</h1>
<% ingredients.forEach(function(i) { %>

    <table><%= i.ingredient %> ( <%= i.quantity %> )</table>
    <% if (user) { %>
       <form action="/ingredients/<%= i._id %>?_method=DELETE" method="POST">
       <button type="submit">X</button>
       </form>
       <% } %>
 
<% }) %>     
        
   

    

<%- include('../partials/footer') %>