<%- include('../partials/header') %>
<h1>This is the Edit Page for <%= recipe.name %></h1>

<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">       
    <label for="recipe-name">Recipe Name: </label>
    <input type="text" name="name" value="<%= recipe.name %>">
    <label for="directions">Input Directions: </label>
    <textarea name="directions" id="directions-input" cols="30" rows="10"><%= recipe.directions %></textarea>
    <input type="submit" value="Update">
    
   </form>

<%- include('../partials/footer') %>