<%- include('../partials/header') %>
    <h1>Edit <%= recipe.name %>
    </h1>
    <section class="container" id="edit">
    <form id="edit-form" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="recipe-name" class="form-label">Recipe Name: </label>
            <input type="text" name="name" class="form-control" value="<%= recipe.name %>">
        </div>
        <div class="mb-3">
            <label for="directions" class="form-label">Input Directions: </label>
            <textarea name="directions" id="directions-input" class="form-control" cols="30"
                rows="10"><%= recipe.directions %></textarea>
        </div>
        <div class="mb-3">
            <label for="timeToMake">Time to Make: </label>
            <input type="number" name="timeToMake" class="form-control" value= "<%=recipe.timeToMake %>">

        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Update</button>

        </div>

    </form>

    <% if (user && user._id.equals(recipe.user)) { %>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <button type="submit" style="margin-left: 10px;" class="btn btn-danger">Delete Recipe and All Ingredients</button>
        </form>
    <% } %>
</section>

    <%- include('../partials/footer') %>