<%- include('../partials/header') %>
<h1>Recipes Index!</h1>

<% recipes.forEach(function(r) {  %>
<table class="table">
    <thead>
        <tr>
            <th>Recipe</th>
            <th>Time to Make</th>
            <th>Created by</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/recipes/<%= r._id %>"><%= r.name %></td>
            <td><%= r.timeToMake %>min</td>
            <td><%= user.name %></td>
        </tr>
            </tbody>
</table>

                


    <ul>
        <li><a href="/recipes/<%= r._id %>"><%= r.name %></a>
        </a></li>
        <% if (user && user._id.equals(r.user)) { %>
        <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
        </form>
        <% } %>
    </ul>
        <% }); %>

   

    

<%- include('../partials/footer') %>