<%- include('../partials/header') %>
<h1>Welcome to Recipes Index!</h1>

        <% recipes.forEach(function(r) {  %>
            <ul>
                <li><a href="/recipes/<%= r._id %>"><%= r.name %></a>
                </a></li>
                <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                </form>
            </ul>
                <% }); %>
        
   

    

<%- include('../partials/footer') %>