<%- include('../partials/header') %>
<h1>Welcome to <%= recipe.name %> Show Page!</h1>
<div id="user-info">
<p>created by: <%= user.name %></p>
<img src="<%= user.avatar %>" id="user-avatar">
<h3>Ingredients for <%= recipe.name %>:</h3>
</div>
<% recipe.ingredients.forEach(function(i) {  %> 

<ul>
    <li><%= i.ingredient %> (<%= i.quantity %>)</li>
    
    <!-- <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
    </form> -->
</ul>
<% }); %> 
<form action="/recipes/<%= recipe._id %>" method="POST">
    <input type="text" name="ingredient">
    <input type="number" name="quantity" value="1">
    <input type="submit" value="Add Ingredient">
</form>

<section>
    <h3>Directions:</h3>
    <p><%= recipe.directions %></p>
    <h3>Time to Prepare: </h3>
    <p><%= recipe.timeToMake %>min</p>
</section>

<a href="/recipes/<%= recipe._id %>/edit">Edit This Recipe</a>

 
        
   

    

<%- include('../partials/footer') %>