<%- include('../partials/header') %>

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h1 class="card-title"><%= recipe.name %> </h1>
        <div class="user-tile">
            <h6 class="card-subtitle mb-2 text-muted">Recipe by: <%= user.name %> </h6>
            <img src="<%= user.avatar %>" id="user-avatar" style="width: 30px;">
        </div>
        <div>
            <h6 class=>Directions: </h6>
            <p class="card-text"><%= recipe.directions %></p>

        </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Ingredients: </h5>
        </div>
        <% recipe.ingredients.forEach(function(i) {  %> 
        <ul class="list-group list-group-flush"> 
            <li class="list-group-item"><%= i.ingredient %> (<%= i.quantity %>)</li>
        </ul>
        <% }); %> 
        <div class="card-body">
            <p class="card-text">Time to Make: <%= recipe.timeToMake %>min</p>
        <div class="card-body">
            <a href="/recipes/<%= recipe._id %>/edit" class="card-link">Edit This Recipe</a>

        </div>
        
    </div>
    </div>




<form action="/recipes/<%= recipe._id %>" method="POST" class="add-ingredient">
    <input type="text" name="ingredient" class="form-control" required>
    <input type="number" name="quantity" value="1" class="form-control" id="quantity">
    <button class="btn btn-outline-secondary" id="button-addon1">ADD INGREDIENT</button>
</form>




 
        
   

    

<%- include('../partials/footer') %>