<%- include('../partials/header') %>
<h1>Welcome to <%= recipe.name %> Show Page!</h1>
<p>created by: <%= user.name %></p>
<h3>Ingredients for <%= recipe.name %>:</h3>

<% recipe.ingredients.forEach(function(i) {  %> 

<ul>
    <li><%= i.ingredient %> (<%= i.quantity %>)</li>
    
    <!-- <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
    </form> -->
</ul>
<% }); %> 

<section>
    <h3>Directions:</h3>
    <p><%= recipe.directions %></p>
</section>

<a href="/recipes/<%= recipe._id %>/edit">Edit This Recipe</a>

 
        
   

    

<%- include('../partials/footer') %>